.define-vehicles-for-new-students-bg-container {
    box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 8px;
    border-radius: 4px;
}

.define-vehicles-for-new-students-main-heading {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #3b4655;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-width: 4px;
    border-color: rgba(250, 228, 34, 0.884);
}

.loader-container {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.failure-view-container {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.failureHeading {
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
    text-align: center;
}

.retry-button {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

.td-select {
    background-color: transparent;
    border-width: 0px;
    outline: none;
    width: 100%;
}

.define-vehicles-for-new-students-table-container {
    overflow: auto;
}

.define-vehicles-for-new-students-buttons-container {
    display: flex;
    justify-content: flex-end;
}

.define-vehicles-for-new-students-buttons {
    min-width: 60px;
    font-weight: bold;
    font-size: 9px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 14px;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #fefefe;
}

.add-pop-up-modal-container {
    padding-top:30px;
}

@media (max-width:340px) {
    .add-pop-up-modal-container {
        padding-left:0px;
        padding-right:0px;
        padding-top:0px;
    }
}

@media (min-width:340px) and (max-width:576px) {
    .add-pop-up-modal-container {
        padding-left:30px;
        padding-right:30px;
        padding-top:15px;
    }
}

.add-pop-up-modal-form {
    
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 12px;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 12px;
}

.define-vehicles-for-new-students-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.pop-up-define-vehicles-for-new-students-main-heading {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}

.pop-up-define-vehicles-for-new-students-form {
    max-width: 350px;
}

.pop-up-define-vehicles-for-new-students-label {
    font-weight: bold;
    color: rgb(41, 34, 34);
}

.pop-up-define-vehicles-for-new-students-input-filed {
    outline: none;
    max-width: 100%;
    min-width: 100%;
    min-height: 30px;
    max-height:30px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(197, 224, 240);
    background-color:rgb(248, 248, 243);
    border-radius: 3px;
    padding: 4px;
    font-size: 15px;
}


@media (max-width:1016px) {
    .define-vehicles-for-new-students-buttons-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .define-vehicles-for-new-students-buttons {
        min-width: 72px;
        margin-top: 5px;
        font-size: 9px;
    }

    th {
        font-size: 10px;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: 10px;
    }
}

@media (max-width:264px) {
    .pop-up-define-vehicles-for-new-students-main-heading {
        font-size: 12px;
        font-weight: bold;
        color: #000000;
    }
}